
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: monospace;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    opacity: 0.8;
    font-family: 'Coolvetica', sans-serif;
    align-content: flex-start;
    margin: 0;
}

.menu-resim {
    border-radius: 60%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

nav {
    display: flex;
}

nav a {
    color: grey;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: white;
}

nav a:active {
    
    color: lightskyblue;
}


footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: khaki;
    padding: 15px;
}



.footer-container {
    display: flex;
    color:white;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links a,
.footer-social a {
    color: #fff;
    font-family: 'Coolvetica', sans-serif;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    position: relative;
}

.footer-social img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer-social p {
    color: white;
    font-family: fantasy;
    margin: 0; 
}

h1 {
    color: black;
    opacity: 0.7;
    text-align: center;
    border-radius: 20px;
}

form {
    max-width: 600px;
    margin: 0px auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 540px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #555;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: monospace;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    opacity: 0.8;
    font-family: 'Coolvetica', sans-serif;
    align-content: flex-start;
    margin: 0;
}

.menu-resim {
    border-radius: 60%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

nav {
    display: flex;
}

nav a {
    color: grey;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: white;
}

nav a:active {
    
    color: lightskyblue;
}


footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: khaki;
    padding: 15px;
}



.footer-container {
    display: flex;
    color:white;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links a,
.footer-social a {
    color: #fff;
    font-family: 'Coolvetica', sans-serif;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    position: relative;
}

.footer-social img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer-social p {
    color: white;
    font-family: fantasy;
    margin: 0; 
}

h1 {
    color: black;
    opacity: 0.7;
    text-align: center;
    border-radius: 20px;
}

form {
    max-width: 600px;
    margin: 0px auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 540px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #555;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: monospace;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 20px;
    opacity: 0.8;
    font-family: 'Coolvetica', sans-serif;
    align-content: flex-start;
    margin: 0;
}

.menu-resim {
    border-radius: 60%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

nav {
    display: flex;
}

nav a {
    color: grey;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    transition: color 0.3s;
}

nav a:hover {
    color: white;
}

nav a:active {
    
    color: lightskyblue;
}


footer {
    position: relative;
    width: 100%;
    bottom: 0;
    background-color: #000;
    color: khaki;
    padding: 15px;
}



.footer-container {
    display: flex;
    color:white;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links a,
.footer-social a {
    color: #fff;
    font-family: 'Coolvetica', sans-serif;
    text-decoration: none;
    margin-right: 20px;
    font-size: 14px;
    position: relative;
}

.footer-social img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer-social p {
    color: white;
    font-family: fantasy;
    margin: 0; 
}

h1 {
    color: black;
    opacity: 0.7;
    text-align: center;
    border-radius: 20px;
}

form {
    max-width: 600px;
    margin: 0px auto 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    opacity: 0.8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 540px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    font-size: 16px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #555;
}
